{{$Org_id := .Tconf.Org_id}}
<div class="tab-content">
	<div id="tab_0" class="tab-pane active">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>New Customer Payment Entry Form
				</div>
				<div class="tools">
					<a class="collapse" href="javascript:;">
					</a>
					<a class="config" data-toggle="modal" href="#portlet-config">
					</a>
					<a class="reload" href="javascript:;">
					</a>
					<a class="remove" href="javascript:;">
					</a>
				</div>
			</div>
			<div class="portlet-body form">


<div class="row">
<div class="col-md-6">


<h3 class="form-section">Customer Payment Entry</h3>



		<form id="CreateTransaction" class="form-horizontal"  method="Post" onsubmit="return DoCreateTransaction()">
	

			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label">
						Transaction Date <span class="required" aria-required="true">*</span>
					</label>
					<div class="col-md-8">
						<input type="text" name="transdate" placeholder="Select Date" class="form-control date-picker" maxlength="50" Required>
						<span class="help-block c_h_date" style="color:red;" ></span>
					</div>
				</div>						
				<div class="form-group">
					<label class="col-md-3 control-label">Customer Name</label>
					<div class="col-md-8">
						<select name="customer"  class="form-control" > 
						 	{{range  $key ,$val := .Ls_customer}}
								<option value="{{ index  $val 0}}">{{ index  $val 1}}</option>
							{{end}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Pay Type</label>
					<div class="col-md-8">
						<select name="paytype"  class="form-control" > 
							{{range  $key ,$val := .Ls_customerpaytype}}
								<option value="{{ index  $val 0}}">{{ index  $val 1}}</option>
							{{end}}
						</select>
					</div>
				</div>
				<div class="form-group" id="check_date">
					<label class="col-md-3 control-label">
						Check Date
					</label>
					<div class="col-md-8">
						<input type="text" name="checkdate" placeholder="Select Date" class="form-control date-picker" maxlength="50">
						<span class="help-block cd_h_date" style="color:red;" ></span>
					</div>
				</div>	

						
				<div class="form-group">
					<label class="col-md-3 control-label">Pay Institution</label>
					<div class="col-md-8">

						<select name="pay_ins"  class="form-control" > 
						 	<option value="0">N/A</option>
						 	{{range  $key ,$val := .Ls_bank}}
								<option value="{{ index  $val 0}}">{{ index  $val 1}}</option>
							{{end}}
						</select>
					</div>
				</div>

				<!--<div class="form-group">
					<label class="col-md-3 control-label">Pay Institution</label>
						<div class="col-md-8">
							<input type="text" name="pay_ins" placeholder="Pay Institution"  maxlength="50" class="form-control createAct">
						</div>
				</div> -->

				<div class="form-group">
					<label class="col-md-3 control-label">Pay Reference</label>
						<div class="col-md-8">
							<input type="text" name="pay_ref" placeholder="Pay Reference"  maxlength="50" class="form-control createAct">
						</div>
				</div>	
				
				<div class="form-group">
					<label class="col-md-3 control-label">Pay Amount</label>
						<div class="col-md-4">
							<input type="text" name="pay_amount" value="{{if eq .Tconf.fromtype `co`}} {{.Tconf.co_amount}}{{end}}"  maxlength="50" class="form-control createAct numf" onkeypress='return numbersOnly(this,event,true,false);' >
							<span class="help-block c_h_pay_amount" style="color:red;" ></span>
						</div>
				</div>

					

				<div class="form-group">
					<label class="col-md-3 control-label">Remarks</label>
					<div class="col-md-8">
						<textarea name = "remarks" class="form-control createAct"></textarea>
					</div>
				</div>
				
			</div>

						
		</form>


</div>	

<div class="col-md-6">

			
			<form id="item_tagsdata" class="form-horizontal"  method="Post" onsubmit="return Dobatchsave()">
			<input type="hidden" name="suprec_id" class="c_suprec_id">

				<table class="table table-bordered table-striped tbl_dtls" width="50%">
					<tbody>
					{{range  $key,$val := .Arr_tag}}
						<tr>
							<td style="width:15%">
								 {{ index  $val 1}}
							</td>
							<td style="width:50%">
								{{$datatype  := index  $val 3 }}
								{{if eq $datatype `String` }}
									<input type="text" class="value_input" name="value_input" placeholder="value" id="autocomplete_{{ index  $val 0}}" value="{{ index  $val 4}}">
								{{end}}
								{{if eq $datatype `Number` }}
									<input type="number" name="value_input" class="value_input" placeholder="value" value="{{ index  $val 4}}">
								{{end}}
								
								<input type="text" name="remarks" class="value_remarks" placeholder="remarks" value="{{ index  $val 5}}">
								<input type="hidden" name ="tag" value="{{ index  $val 0}}">
								<!-- <a onclick="javascript:func_sync( 0 ,{{ index  $val 0}},this,event );"> save</a> -->
							</td>
						
						</tr>
					
					<script type="text/javascript">
					{{$tagid := index  $val 0}}
					//var json_data_$tagid = ["a","a2","a3","a3","a4","a5","a6","a7","1","101",]

					
					var  json_data_{{$tagid}} = [""]    
		    	       
			        {{$retdata := Sql_list "string paramenter" $Org_id $tagid}}
			        

			        {{range  $kkey,$vval := $retdata}}
						json_data_{{$tagid}}.push( "{{ index  $vval 0}}" )
					{{end}}

			        $('#autocomplete_{{$tagid}}' ).autocomplete({
			            	source: json_data_{{$tagid}}
			            });
					</script>
					
					{{end}}
					</tbody>
				</table>
				<!-- <div class="form-actions fluid">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn blue">Save All</button>
						<button class="btn default" onclick="javascript:Navigate('/inventory/item?rights={{.Rights}}')" type="button">Cancel</button>
					</div>
				</div> -->
						
			</form>	

</div>

</div>

<div class="form-actions fluid">
	<div class="col-md-offset-3 col-md-9">
		<button type="submit" class="btn blue submit_btn" onclick="return DoCreateTransaction()">Save</button>
		<button class="btn default" onclick="javascript:nav_back('/inventory/customer_payment?rights={{.Rights}}')" type="button">Go Back</button>
	</div>
</div>


</div>





			</div>
		</div>
		
		
		
		
	</div>
	
</div>




			<script type="text/javascript">
			var currentDate = new Date();  
			$('.date-picker').datepicker({autoclose: true});
			$('.date-picker').datepicker("setDate", new Date());
			
			$('input[name=item_class]').focus();
			$("[name=customer] , [name=paytype],[name=pay_ins]").select2();

			function checkDate_B(d) {
				if(d=='1'){
					$("#check_date").hide();
				}else{
					$("#check_date").show();
				}
			}
			$("[name=paytype]").on("select2-close", function (e) {
				console.log(this.value);
				checkDate_B(this.value);
			});
			checkDate_B('1');

			var rghts = '{{.Rights}}'

			function NullToZero (val) {
				if(val ) {
					return val
				}else{
					return 0 
				}
			}
			num_val_init()
			function DoCreateTransaction(){
				//helper reseter
				$('.help-block').html("");

				var c_date = $("[name=checkdate]").val();
				var c_parts =c_date.split('/');
				var mydate = new Date(c_parts[2],c_parts[0]-1,c_parts[1]); 
				var tem_curdate = new Date();
				tem_curdate.setDate(tem_curdate.getDate());
				if(c_date==""){
					$(".cd_h_date").html('valid date required.');
					return false;
				}
				/*if (tem_curdate < mydate ){
					$(".cd_h_date").html('Date must not be greater than today '+ tem_curdate.toLocaleString(	) + '.');
					return false;
				}
*/



				var d_date = $("[name=transdate]").val();
				var parts =d_date.split('/');
				var mydate = new Date(parts[2],parts[0]-1,parts[1]); 
				var tem_curdate = new Date();
				tem_curdate.setDate(tem_curdate.getDate()-6);
				if(d_date==""){
					$(".c_h_date").html('valid date required.');
					return false;
				}
				if (tem_curdate >  mydate){
					$(".c_h_date").html('Minimum date allowed is '+ tem_curdate.toLocaleString(	) + '.');
					return false;
				}

				if ($('[name=pay_amount]').val()<=0) {
					$(".c_h_pay_amount").html('Please input a valid amount.');
					$('input[name=pay_amount]').focus();
					return false;
				}
				var ret_msg= ""
				$.get("/json_func",
                    {
                       qdata : "SIS_CusPayHdr_Save 'Add', '{{.Tconf.username}}', 0, {{.Tconf.Org_id}},'"+$('[name=transdate]').val()+"','"+$('[name=customer]').val()+"','"+NullToZero($('[name=paytype]').val() )+"','"+$('[name=pay_ins]').val()+"','"+$('[name=pay_ref]').val()+"','"+$('[name=pay_amount]').val() +"','" +$('[name=remarks]').val()+"','"+$('[name=checkdate]').val()+"'"
                    }
                    ,
                    function(data,status){
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
								 	$(".c_suprec_id").val(data[i][0])
									Dobatchsave(data[i][0])
								}else{
			                    	alert(ret_msg)
			                    }
		                    }
	                    }
                    });	
					
                    return false;
		                /*$('#basic').modal('hide')
		            	dtbl()
			         	return false*/
			        	
			}

			function func_sync(item , tag , t,event){
				//console.log($(event.target).closest("tr").find('.value_input').val())

				var suprec_id =  $(".c_suprec_id").val()
				var text_val =  $(event.target).closest("tr").find('.value_input').val()
				var text_val_remarks =  $(event.target).closest("tr").find('.value_remarks').val()



				$.get("/json_func",
                    {
                       //qdata : "Branch_Save 'Add','programmer',1,0,'"+$('[name=sup_name]').val()+"' ,'"+$('[name=sort]').val()+"' ,'"+$('[name=remarks]').val()+"'"
                       qdata : "SIS_CusBilTags_Save 'Update', '{{.Tconf.username}}', {{.Tconf.Org_id}}, "+suprec_id+", "+tag+", '"+text_val+"', '"+text_val_remarks+"'"
					}
                    ,
                    function(data,status){
                    	console.log(data)
                        //json_personnel = data
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
									console.log(data[i][0])
									alert(ret_msg)
									
								//return false;
			                    }else{
			                    	alert(ret_msg)
			                    }
		                         
		                    }
	                    }
                    });

			}

			function Dobatchsave(hid){
				$.post("/inventory/customer_payment/HaddTagHandler",
                    $("#item_tagsdata").serialize()
					,
                    function(data,status){
                    	var errcount = 0 
                    	if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        
		                        if (data[i][0]=="HasError"){
									errcount = errcount + 1
								//return false;
			                    }
			                }
						}
						if (errcount>0){
	                    	alert(errcount)
	                    	alert("Opsss something went wrong")
                        }else{
                        	//alert("Save Success")
                        	
                        	nav_back('/inventory/customer_payment?rights={{.Rights}}');


                        } 
                        
                    });

				return false;


			}

			{{if eq .Tconf.fromtype `co`}}
			
	$("[name=customer]").val({{.Tconf.co_customer_id}}).trigger("change");
			{{end}}




			</script>





