<div class="tab-content">
							<div id="tab_0" class="tab-pane active">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i>Member Registration Form
										</div>
										<div class="tools">
											<a class="collapse" href="javascript:;">
											</a>
											<a class="config" data-toggle="modal" href="#portlet-config">
											</a>
											<a class="reload" href="javascript:;">
											</a>
											<a class="remove" href="javascript:;">
											</a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form id="CreateAccount" class="form-horizontal"  method="Post" onsubmit="return DoCreateAccount()">
											
											<div class="form-body">
												
												<div id="idname" class="Metronic-alerts alert alert-warning fade in" hidden></div>
												<div class="form-group">
													<label class="col-md-3 control-label">Org</label>
														<div class="col-md-4">
														<select name="org" class="form-control" > 
														 {{range $orglist := .Org }}
														<option  value="{{$orglist.Org_id}}">{{$orglist.Org_name}}</option>
           														{{end}}
           												</select>
													</div>
												</div>

												<div class="form-group" hidden>
													<label class="col-md-3 control-label">Username</label>
													<div class="col-md-4">
														<input type="text" name="username" placeholder="username" class="form-control  createAct " onfocus="javascript:bftxt(this,5)" onblur="AjaxValidate(this,'username','idusername')" maxlength="50"  >
														<span class="help-block" id="idusername"></span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Employee Number</label>
													<div class="col-md-4">
														<input type="text" name="hris" id="idemp" data-required="1" placeholder="Employee Number" maxlength="50" class="form-control createAct">
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">FirstName <span class="required" aria-required="true">
										* </span></label>
													<div class="col-md-4">
														<input type="text" name="firstname" id="idfname" data-required="1" placeholder="FirstName" maxlength="50" class="form-control createAct" Required>
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Middlename  <span class="required" aria-required="true">
										* </span></label>
													<div class="col-md-4">
														<input type="text" name="middlename" placeholder="Middlename" id="idmname" maxlength="50" class="form-control createAct" Required>
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Lastname <span class="required" aria-required="true">
										* </span></label>
													<div class="col-md-4">
														<input type="text" name="lastname" placeholder="Lastname" id="idlname" maxlength="50" class="form-control createAct"  Required>
														<!-- <span class="help-block">
														A block of help text. </sapan> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Suffixname</label>
													<div class="col-md-4">
														<input type="text" name="suffixname" placeholder="Suffixname" maxlength="3"class="form-control input-small createAct">
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-md-3 control-label">Maidenname </label>
													<div class="col-md-4">
														<input type="text" name="maidenname" maxlength="50" placeholder="Maidenname" id="idmname" class="form-control createAct">
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Birthday <span class="required" aria-required="true">
										* </span></label>
													<div class="col-md-4 form-inline">
														

														<select name="bday_month" id="bmonth" onchange="javascript:f_bdate(this);" class="form-control input-small">
															<option value ="01">JAN</option>
															<option value ="02">FEB</option>
															<option value ="03">MAR</option>
															<option value ="04">APR</option>
															<option value ="05">MAY</option>
															<option value ="06">JUN</option>
															<option value ="07">JUL</option>
															<option value ="08">AUG</option>
															<option value ="09">SEP</option>
															<option value ="10">OCT</option>
															<option value ="11">NOV</option>
															<option value ="12">DEC</option>
														</select>

														<select name="bday_day" id="bday" class="form-control input-xsmall createAct" >
															<option value ="1">1</option>
															<option value ="2">2</option>
															<option value ="3">3</option>
															<option value ="4">4</option>
															<option value ="5">5</option>
															<option value ="7">6</option>
															<option value ="7">7</option>
															<option value ="8">8</option>
															<option value ="9">9</option>
															<option value ="10">10</option>
															<option value ="11">11</option>
															<option value ="12">12</option>
															<option value ="13">13</option>
															<option value ="14">14</option>
															<option value ="15">15</option>
															<option value ="16">16</option>
															<option value ="17">17</option>
															<option value ="18">18</option>
															<option value ="19">19</option>
															<option value ="20">20</option>
															<option value ="21">21</option>
															<option value ="22">22</option>
															<option value ="23">23</option>
															<option value ="24">24</option>
															<option value ="25">25</option>
															<option value ="26">26</option>
															<option value ="27">27</option>
															<option value ="28">28</option>
															<option value ="29">29</option>
															<option value ="30">30</option>
															<option value ="31">31</option>
														</select>
										


														<input type="text" name="bday_year"placeholder="YYYY" id="mask_byear" class="form-control input-xsmall createAct" onfocus="javascript:bftxt(this,1)" Required onblur="AjaxValidate(this,'name','idname')" >
														<span class="help-inline" id="idivayr"></span>
													</div>
												</div>	

												<hr>
												<div class="form-group">
														<label class="col-md-3 control-label">Gender</label>
														<div class="col-md-4">
														<select name="gender" class="form-control" > 
														 {{range $MemberGender := .MemberGender }}
														 <option value="{{$MemberGender.Name}}">{{$MemberGender.Name}}</option>
           														{{end}}
           														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">postcode</label>
													<div class="col-md-4">
														<input type="text" name="postcode" placeholder="postcode" id="mask_postcode"  class="form-control input-large  createAct" >
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Address</label>
													<div class="col-md-4">
														<input type="text" name="address"  maxlength="50" placeholder="address" class="form-control  createAct">
													</div>
												</div>


												<div class="form-group">
													<label class="col-md-3 control-label">TIN</label>
													<div class="col-md-4">
														<input type="text" name="TIN" placeholder="TIN"  id="mask_TIN" class="form-control input-inline input-medium createAct " onfocus="javascript:bftxt(this,3)" onblur="AjaxValidate(this,'TIN','idtin')" >
														<span class="help-inline" id="idtin"></span>
														<span class="help-block">999-999-999-000</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">SSS</label>
													<div class="col-md-4">
														<input type="text" name="SSS" placeholder="SSS" id="mask_SSS" class="form-control input-inline input-medium createAct " onfocus="javascript:bftxt(this,3)" onblur="AjaxValidate(this,'SSS','idSSS')" >
														<span class="help-inline" id="idSSS" ></span>
														<span class="help-block">99-9999999-9</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">GSIS</label>
													<div class="col-md-4">
														<input type="text" name="GSIS" placeholder="GSIS" id="mask_GSIS" class="form-control input-inline input-medium createAct " onfocus="javascript:bftxt(this,3)" onblur="AjaxValidate(this,'GSIS','idGSIS')" >
														<span class="help-inline" id="idGSIS"></span>
														<span class="help-block">99999999999</span>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-md-3 control-label">Pagibig</label>
													<div class="col-md-4">
														<input type="text" name="Pagibig" placeholder="Pagibig"  id="mask_Pagibig" class="form-control input-inline input-medium createAct " onfocus="javascript:bftxt(this,3)" onblur="AjaxValidate(this,'Pagibig','idpagibig')" >
														<span class="help-inline" id="idpagibig"></span>
														<span class="help-block" >9999-9999-9999</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">PHealth</label>
													<div class="col-md-4">
														<input type="text" name="PHealth" placeholder="PHealth"   id="mask_PHealth"  class="form-control input-inline input-medium  createAct " onfocus="javascript:bftxt(this,3)" onblur="AjaxValidate(this,'PHealth','idphilh')" >
														<span class="help-inline" id="idphilh"></span>
														<span class="help-block">99-999999999-9</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">mobileno</label>
													<div class="col-md-4">
														<input type="text" name="mobileno" placeholder="mobileno" id="mask_cphone"  class="form-control  createAct">
														<span class="help-block">+63-XXXXXXXXXX</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">telno</label>
													<div class="col-md-4">
														<input type="text" name="telno" placeholder="telno" id="mask_phone"class="form-control createAct">
														<span class="help-block">+63-XXX-XXX-XXXX</span>
													</div>
												</div>					
												<div class="form-group">
													<label class="col-md-3 control-label">Email Address</label>
													<div class="col-md-4">
														<input type="text" name="email" placeholder="Email Address"  maxlength="50" class="form-control  createAct">
													</div>
												</div>
												
												
													<div class="form-group">
													<label class="col-md-3 control-label">Civil Status</label>
														<div class="col-md-4">
															<select name="civil_stat" class="form-control" > 
															 {{range $MemberCivilStatus := .MemberCivilStatus }}
																	
	           													<option value="{{$MemberCivilStatus.Name}}">{{$MemberCivilStatus.Name}}</option>
	           														{{end}}

	           														
															</select>
														</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">remarks</label>
													<div class="col-md-4">
														
														<input type="text" name="remarks" placeholder="remarks"  maxlength="100" class="form-control createAct">
													</div>
												</div>
												


											</div>

											
											<div class="form-actions fluid">
												<div class="col-md-offset-3 col-md-9">
													<button class="btn btn-circle blue" type="submit">Save</button>
													<button class="btn btn-circle blue" onclick="javascript:DoCreateAccount('SA');" type="button"	>Save/Addnew</button>
													<button class="btn btn-circle default" onclick="javascript:nav_back();" type="button">Cancel</button>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
								
								
								
								
							</div>
							
						</div>

<script type="text/javascript">

	masking()
	var  ValidYr =0
	function DoCreateAccount(stype =''){
		if (ValidYr==0) {
			 window.scrollTo(0, 0);
			return false
		}
		//AjaxValidate($("#mask_byear"),'name','idname');
		
		$.post("/Member/CreateMember",$( "#CreateAccount" ).serialize()
	        ,
	        function(data,status){
	            alert(data.Message)
	            if(data.Message=='Success'){
	            	$(".createAct").val("")
	            	//Navigate('/member?rights={{.Rights}}')
	            	if(stype==''){
	            		nav_back();
	            	}
	            	
	            }
	        });
		return false
	}

function AjaxValidate(a,b,c){
	//value , fields, divID
	var a1 =a.value.trim().length
	
	if(a1==0){
		if (b=="name"){
			$("#idivayr").html("this field is required");
			a.className = "form-control input-inline input-xsmall  createAct "
		}else{
			a.className = "form-control input-inline input-medium  createAct "
		}
		return false
	}
	bdate= $("#bmonth").val() +"/"+$("#bday").val()+"/"+$("#mask_byear").val()
	if (b=="name"){
		$("#idname").hide();
		a.className = "form-control input-xsmall";
		$("#idivayr").html("")
		yrval = parseInt(a.value)
		if(yrval <1950 || yrval>2014){
			$("#idivayr").html("invalid year");
			return false	
		}
	}else{
		a.className = "form-control input-inline input-medium  createAct spinner";
	}
	$.post("/AjaxValidate",
			 { value: a.value, field:b ,fname:$("#idfname").val(),lname:$("#idlname").val(),mname:$("#idmname").val() , bday:bdate ,byear: $("mask_byear").val()}
	        ,
	        function(data,status){
	        	if(b=='name'){
	        		if(data.Stats=="1"){
						ValidYr =0
						$("#idname").html(data.Message);
						$("#idname").show();
					}else{
						ValidYr =1
						$("#idname").hide();
					}
	        	}else{
	            $("#"+c).html(data.Message);  
	            a.className = "form-control input-inline input-medium  createAct "
	            //$("#ModalCont").html(data);
	            }
	        });
}

function f_bdate(a){
	var monthday = 0
	switch(parseInt(a.value)) {
    case 1:
        monthday = 31
        break;
    case 2:
        monthday = 28
        break;
    case 3:
        monthday = 31
        break;
    case 4:
        monthday = 30
        break;
    case 5:
        monthday = 31
        break;
    case 6:
        monthday = 30
        break;
    case 7:
        monthday = 31
        break;
    case 8:
        monthday = 31
        break;
    case 9:
        monthday = 30
        break;
    case 10:
        monthday = 31
        break;
    case 11:
        monthday = 30
        break;
    default:
        monthday = 31
	}
	var htm =''
	for (i = 1; i <= monthday; i++) { 
	    htm += '<option>'+i+'</option>'
	}
	$("#bday").html(htm);

}


function repoFormatResult( repo ) {
    var markup = "<div class='select2-result-repository clearfix'> <div class='select2-result-repository__title'>" + repo.full_name + "</div></div>";

    return markup;
}

function repoFormatSelection( repo ) {
                return repo.full_name;
            }
$( "#mask_postcode" ).select2({
    placeholder: "Search for Address",
     minimumInputLength: 3,
        multiple: false,
        allowClear: true,
    ajax: {
        url: "/Ajax/GetPostalcode",
        dataType: "json",
        quietMillis: 250,
        data: function( term, page ) {
            return {
                // search term
                q: term
            };
        },
        results: function( data, page ) {
                // parse the results into the format expected by Select2.
                // since we are using custom formatting functions we do not need to alter the remote JSON data
                return { results: data.items };
        }
        
    },
    
    formatResult: repoFormatResult,
    formatSelection: repoFormatSelection,
    // apply css that makes the dropdown taller
    dropdownCssClass: "bigdrop",
    // we do not want to escape markup since we are displaying html in results
    escapeMarkup: function( m ) {
        return m;
    }
});
	$('select[name=org]').focus()
</script>						