
{{$Org_id := .Conf.Org_id}}

<div class="tab-content">
	<div id="tab_0" class="tab-pane active">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>New Location Form
				</div>
				<div class="tools">
					<a class="collapse" href="javascript:;">
					</a>
					<a class="config" data-toggle="modal" href="#portlet-config">
					</a>
					<a class="reload" href="javascript:;">
					</a>
					<a class="remove" href="javascript:;">
					</a>
				</div>
			</div>
			<div class="portlet-body form">





<div class="row">
<div class="col-md-6">


<h3 class="form-section">Location info</h3>



		<form id="CreateTransaction" class="form-horizontal"  method="Post" onsubmit="return DoCreateTransaction()">
	
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">Name<span class="required" aria-required="true">*</span>
							</label>
							<div class="col-md-8">
								<input type="text" name="name" placeholder="Name" class="form-control" maxlength="100" Required>
											
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Address<span class="required" aria-required="true">*</span>
							</label>
							<div class="col-md-8">
								<input type="text" name="address" value="{{.Conf.item_address}}" placeholder="Address" class="form-control" maxlength="100" rows="4" Required>
											
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Email
							</label>
							<div class="col-md-8">
								<input type="email" name="email" value="{{.Conf.item_email}}" placeholder="Email" class="form-control">
											
							</div>
						</div>

						<div class="form-group">
					<label class="col-md-3 control-label">Postal Code<span class="required" aria-required="true">*</span>
					</label>
					<div class="col-md-8">
						<input type="text" name="postal_code" value="{{.Conf.item_postcode}}" id="area" placeholder="Postal Code" class="form-control" maxlength="50" Required>
									
					</div>
				</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Parent</label>
							<div class="col-md-8">
								<select name="parent" class="form-control" > 
								
								 	<option value="{{.Conf.item_id}}" selected>{{.Conf.item_location}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Customer Name</label>
							<div class="col-md-8">
								<select name="customer" class="form-control" > 
								 	{{$custid  := .Conf.item_customer }}
								 	{{range  $key ,$val := .Arr_customer}}
									{{ $loop_id  := index  $val 0 }}
									{{if eq $custid $loop_id }}	
								 		<option value="{{ index  $val 0}}" selected>{{ index  $val 1}}</option>
								 	{{else}}	
								 		<option value="{{ index  $val 0}}">{{ index  $val 1}}</option>
									{{end}}
									{{end}}

								</select>
							</div>
						</div>		
											
						<div class="form-group">
							<label class="col-md-3 control-label">Remarks</label>
							<div class="col-md-8">
								
							
								<textarea name = "remarks" class="form-control createAct">{{.Conf.item_remarks}}</textarea>
							</div>
						</div>
						
					</div>

					<div class="form-actions fluid">
	<div class="col-md-offset-3 col-md-9">
		<button type="submit" class="btn blue submit_btn">Save</button>
		<button class="btn default" onclick="javascript:nav_back('/inventory/location?rights={{.Conf.rights}}')" type="button">Go Back</button>
		</div>
</div>	
				</form>


</div>	

<div class="col-md-6">

				
			<form id="item_tagsdata" class="form-horizontal"  method="Post" onsubmit="return Dobatchsave()">
			<input type="hidden" name="item_id" class="c_item_id" value="{{.Conf.item_id}}">

				<table class="table table-bordered table-striped tbl_dtls" width="50%">
					<tbody>
					{{range  $key,$val := .Arr_itemtag}}
						<tr>
							<td style="width:15%">
								 {{ index  $val 1}}
							</td>
							<td style="width:50%">
								{{$datatype  := index  $val 3 }}
								{{if eq $datatype `String` }}
									<input type="text" class="value_input" name="value_input" placeholder="value" id="autocomplete_{{ index  $val 0}}" value="{{ index  $val 4}}">
								{{end}}
								{{if eq $datatype `Number` }}
									<input type="number" name="value_input" class="value_input" placeholder="value" value="{{ index  $val 4}}">
								{{end}}
								
								
								<input type="hidden" name ="tag" value="{{ index  $val 0}}">
								
							</td>
						
						</tr>
					
					<script type="text/javascript">
					{{$tagid := index  $val 0}}
					

					$('#autocomplete_{{$tagid}}').autocomplete({
					    source: function (request, response) {
					        jQuery.get("/inventory/auto_complete", {
					            query: request.term ,
					            tag: '{{$tagid}}' ,
					            org: '{{$Org_id}}'
					        }, function (data) {
					            var arr_data =[];
					           	if( data!=null){
						            for (var i = 0; i < data.length; i++) {
			                        	arr_data.push(data[i][0]);
			                        }
			                    }    
					            response(arr_data);
					        });
					    },
					    minLength: 3
					});
					
					</script>
					
					{{end}}
					</tbody>
				</table>
						
			</form>	


</div>

</div>






</div>





			</div>
		</div>
		
		
		
		
	</div>
	
</div>


			<script type="text/javascript">
				function validateEmail($email) {
				  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				  return emailReg.test( $email );
				}

			var currentDate = new Date();  
			
			
			$('.date-picker').datepicker("setDate", new Date());
			$('input[name=name]').focus()
			$("[name=parent]").select2();
			var rghts = '{{.Conf.rights}}'
			
			function DoCreateTransaction(){
				var ret_msg= ""
				$.get("/json_func",
                    {
                       qdata : "SIS_Location_Save 'Add', '{{.Conf.username}}', 0, {{.Conf.org_id}}, '"+$('[name=name]').val()+"', '"+$('[name=address]').val()+"', '"+$('[name=postal_code]').val()+"', '{{.Conf.item_id}}','"+$('[name=remarks]').val()+"','"+$('[name=customer]').val()+"','"+$('[name=email]').val()+"'"

                    	
                    }
                    ,
                    function(data,status){
                       
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
									//console.log(data[i][0])
									//alert(ret_msg)
									//$('#basic').modal('hide')
					            	//dtbl()
					            	//console.log("success here")
					            	//$("#item_tagsdata").show()
					            	//$(".submit_btn").prop('disabled', true);
					            	$(".c_item_id").val(data[i][0])
					            	Dobatchsave()
								//return false;
			                    }else{
			                    	alert(ret_msg)
			                    }
		                         
		                    }
	                    }
                    });	
					
                    return false;
		               
			        	
			}

		function repoFormatResult( repo ) {
		    var markup = "<div class='select2-result-repository clearfix'> <div class='select2-result-repository__title'>" + repo.full_name + "</div></div>";

		    return markup;
		}

		function repoFormatSelection( repo ) {
                return repo.full_name;
            }

			function func_sync(item , tag , t,event){
				//console.log($(event.target).closest("tr").find('.value_input').val())

				var item_id =  $(".c_item_id").val()
				var text_val =  $(event.target).closest("tr").find('.value_input').val()
				var text_val_remarks =  $(event.target).closest("tr").find('.value_remarks').val()



				$.get("/json_func",
                    {
                       //qdata : "Branch_Save 'Add','programmer',1,0,'"+$('[name=sup_name]').val()+"' ,'"+$('[name=sort]').val()+"' ,'"+$('[name=remarks]').val()+"'"
                       qdata : "SIS_loctags_save 'Update', '{{.Conf.username}}', {{.Conf.Org_id}}, "+item_id+", "+tag+", '"+text_val+"', '"+text_val_remarks+"'"
					}
                    ,
                    function(data,status){
                    	console.log(data)
                        //json_personnel = data
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
									console.log(data[i][0])
									alert(ret_msg)
									
								//return false;
			                    }else{
			                    	alert(ret_msg)
			                    }
		                         
		                    }
	                    }
                    });

			}

		function Dobatchsave(){
			$.post("/inventory/location/HaddTagHandler",
                $("#item_tagsdata").serialize()
				,
                function(data,status){
                	var errcount = 0 
                	if( data!=null){
	                    for (var i = 0; i < data.length; i++) {
	                        //alert(data[i][0]);
	                       
	                        ret_msg = data[i][1]
	                        
	                        if (data[i][0]=="HasError"){
								errcount = errcount + 1
							//return false;
		                    }
		                }
					}
					if (errcount>0){
                    	alert(errcount)
                    	alert("Opsss something went wrong")
                    }else{
                    	alert("Save Success")
                    	nav_back('/inventory/location?rights={{.Conf.rights}}')
                    } 
                    
                });

			return false;


		}

	$( "#area" ).select2({
	    placeholder: "Search for Area",
	     minimumInputLength: 3,
	        multiple: false,
	        allowClear: true,
	    ajax: {
	        url: "/Ajax/GetPostalcode",
	        dataType: "json",
	        quietMillis: 250,
	        data: function( term, page ) {
	            return {
	                // search term
	                q: term
	            };
	        },
	        results: function( data, page ) {
	                // parse the results into the format expected by Select2.
	                // since we are using custom formatting functions we do not need to alter the remote JSON data
	                return { results: data.items };
	        }
	        
	    },
		initSelection: function( element, callback ) {
			// the input tag has a value attribute preloaded that points to a preselected repository's id
			// this function resolves that id attribute to an object that select2 can render
			// using its formatResult renderer - that way the repository name is shown preselected
			var id = $( element ).val();
			if ( id !== "" ) {
				$.ajax( "/Ajax/GetPostalcode?id=" + id, {
					dataType: "json"
				}).done( function( data ) {
					callback( data );
				});
			}
		},

	    
	    formatResult: repoFormatResult,
	    formatSelection: repoFormatSelection,
	    // apply css that makes the dropdown taller
	    dropdownCssClass: "bigdrop",
	    // we do not want to escape markup since we are displaying html in results
	    escapeMarkup: function( m ) {
	        return m;
	    }
	});
			

	$("[name=parent]").val( {{.Conf.item_parent}} ).trigger("change");			
</script>





