{{$Org_id := .Conf.org_id}}
<style type="text/css">
	.fa-question{
		margin-top: 10px;
		width: 40px;
	}
	.yellow {
    color: #FFCA28;
    margin-top: 10px;
		width: 40px;
		font-size: 20px;
			}
</style>
<div class="tab-content">
	<div id="tab_0" class="tab-pane active">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Replicate Item Form
				</div>
				<div class="tools">
					<a class="collapse" href="javascript:;">
					</a>
					<a class="config" data-toggle="modal" href="#portlet-config">
					</a>
					<a class="reload" href="javascript:;">
					</a>
					<a class="remove" href="javascript:;">
					</a>
				</div>
			</div>
			<div class="portlet-body form">






<div class="row">
<div class="col-md-6"> 

<h3 class="form-section">Item info</h3>


<form id="CreateTransaction" class="form-horizontal"  method="Post" onsubmit="return DoEditTransaction()">
	<div class="form-horizontal">

				<div class="form-group">
					<label class="col-md-3 control-label">Location</label>
					<div class="col-md-8">
						<select name="location" class="form-control" > 
						 	{{$location_id  := .Conf.item_location }}
						 	{{range  $key ,$val := .Ls_location}}
							{{ $loop_id  := index  $val 0 }}
								{{if eq $location_id $loop_id }}	
							 		<option value="{{ index  $val 0}}" selected>{{ index  $val 1}}</option>
							 	{{else}}	
							 		<option value="{{ index  $val 0}}">{{ index  $val 1}}</option>
								{{end}}
							{{end}}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label">Item</label>
					<div class="col-md-8">
						<input type="text" name="item" placeholder="Item" id="item"  class="form-control"  value="{{.Conf.item_item}}" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Unit Price<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline" >
						<input type="text" name="uprice" value="{{.Conf.unit_price}}" placeholder="Unit Price" class="form-control input-small" maxlength="50">

						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Effectivity</label>
							
								<input type="text" name="uprice_date" value="{{.Conf.uprice_date}}" placeholder="Effectivity date" class="form-control input-small date-picker" maxlength="50" Required>
								<i class="glyphicon glyphicon-exclamation-sign yellow" data-toggle="tooltip" data-placement="bottom" data-delay='{"hide":"5000"}'  title="Warning: updating effectivity date may affect suggested amount on transaction."></i>

											<span class="help-block c_h_date" style="color:red;" ></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Unit Cost<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline">
						<input type="text" name="ucost" value="{{.Conf.unit_cost}}" placeholder="Unit Cost" class="form-control input-small" maxlength="50" >
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Effectivity</label>
					<input type="text" name="ucost_date" value="{{.Conf.ucost_date}}" placeholder="Select Date" class="form-control input-small date-picker" maxlength="50" Required>
					<i class="glyphicon glyphicon-exclamation-sign yellow" data-toggle="tooltip" data-placement="bottom" data-delay='{"hide":"5000"}'  title="Warning: updating effectivity date may affect suggested amount on transaction."></i>
						<span class="help-block c_h_date" style="color:red;" ></span>
					</div>
				</div>




				<div class="form-group">
					<label class="col-md-3 control-label">SKU<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 ">
						<input type="text" name="sku" value="{{.Conf.sku}}" placeholder="SKU" class="form-control" maxlength="50" >
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Commission<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline">
					<label> Percentage </label>
						<input type="text" name="commper"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.comm_per}}" maxlength="50">
									<!-- <span class="help-block">
									A block of help text. </sapan> -->
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount </label>
						<input type="text" name="commamt"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.comm_amt}}"   maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Tax<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline">
					<label> Percentage </label>
						<input type="text" name="taxper"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.tax_per}}" maxlength="50">
									<!-- <span class="help-block">
									A block of help text. </sapan> -->
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount </label>
						<input type="text" name="taxamt"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.tax_amt}}" maxlength="50">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Advertisement<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline">
					<label> Percentage </label>
						<input type="text" name="adsper"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.ads_per}}" maxlength="50">
									<!-- <span class="help-block">
									A block of help text. </sapan> -->
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount </label>
						<input type="text" name="adsamt"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.ads_amt}}" maxlength="50">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Freight<span class="required" aria-required="true"></span>
					</label>
					<div class="col-md-8 form-inline">
					<label> Percentage </label>
						<input type="text" name="freightper"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.freight_per}}" maxlength="50">
									<!-- <span class="help-block">
									A block of help text. </sapan> -->
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount </label>
						<input type="text" name="freightamt"  placeholder="" class="form-control input-small createAct num_f" value="{{.Conf.freight_amt}}" maxlength="50">
					</div>
				</div>
						
				<div class="form-group">
					<label class="col-md-3 control-label">Remarks</label>
					<div class="col-md-8">
						<textarea name = "remarks"  class="form-control createAct">{{.Conf.item_remarks}}</textarea>
					</div>
				</div>

	</div>


	<div class="form-actions fluid">
		<div class="col-md-offset-3 col-md-9">
			<button type="submit"  class="btn blue submit_btn" onclick="return DoEditTransaction()">Update</button>
			<button class="btn default" onclick="javascript:nav_back('/inventory/location_items?rights={{.Conf.rights}}')" type="button">Cancel</button>
		</div>
	</div>
</form>
	
</div>	



					
<div class="col-md-6">
	
			<form id="item_tagsdata" class="form-horizontal"  method="Post" onsubmit="return Dobatchsave()">
				<input type="hidden" name="item_id" class="c_item_id" value="{{.Conf.item_id}}">
				<table class="table table-bordered table-striped tbl_dtls" width="50%"  >
					<tbody>
					{{range  $key,$val := .Arr_itemtag}}
						<tr>
							<td style="width:15%">
								 {{ index  $val 1}}
							</td>
							<td style="width:50%">
								{{$datatype  := index  $val 3 }}
								{{if eq $datatype `String` }}
									<input type="text" class="value_input" name="value_input" placeholder="value" id="autocomplete_{{ index  $val 0}}" value="{{ index  $val 4}}">
								{{end}}
								{{if eq $datatype `Number` }}
									<input type="number" name="value_input" class="value_input" placeholder="value" value="{{ index  $val 4}}">
								{{end}}
								
								
								<input type="hidden" name ="tag" value="{{ index  $val 0}}">
								<!-- <a onclick="javascript:func_sync( 0 ,{{ index  $val 0}},this,event );"> save</a> -->
							</td>
						
						</tr>
					
					<script type="text/javascript">
					{{$tagid := index  $val 0}}
					

					$('#autocomplete_{{$tagid}}').autocomplete({
					    source: function (request, response) {
					        jQuery.get("/inventory/auto_complete", {
					            query: request.term ,
					            tag: '{{$tagid}}' ,
					            org: '{{$Org_id}}'
					        }, function (data) {
					            var arr_data =[];
					           	if( data!=null){
						            for (var i = 0; i < data.length; i++) {
			                        	arr_data.push(data[i][0]);
			                        }
			                    }    
					            response(arr_data);
					        });
					    },
					    minLength: 3
					});
					
					</script>
					
					{{end}}
					</tbody>
				</table>

<!-- 
				<div class="form-actions fluid">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn blue">Update</button>
						<button class="btn default" onclick="javascript:Navigate('/inventory/location_items?rights={{.Rights}}')" type="button">Cancel</button>
					</div>
			</div>	 -->
		


		</form>

</div>


</div>

	

</div>





			</div>
		</div>
		
		
		
		
	</div>
	
</div>
		
			<script type="text/javascript">
			$('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });


            var d_date = $("[name=uprice_date]").val();

				if(d_date=="NULL"){
					var currentDate = new Date(); 
					$('.err_help').hide();
					$(".date-picker").datepicker("setDate",currentDate);
				}
				if(d_date==""){
					var currentDate = new Date(); 
					$('.err_help').hide();
					$(".date-picker").datepicker("setDate",currentDate);
				}


			$("[name=location]").select2();

            function DoEditTransaction(){
				$.get("/json_func",
                    {
                   	qdata : "SIS_Location_Item_Save 'Add', '{{.Conf.username}}', {{.Conf.item_id}} , {{.Conf.org_id}}, '"+$('[name=item]').val()+"', "+$('[name=location]').val()+",'"+$('[name=remarks]').val()+"',"+$('[name=uprice]').val()+","+$('[name=ucost]').val()+",'"+$('[name=sku]').val()+"',"+$('[name=commper]').val()+","+$('[name=commamt]').val()+", '"+$('[name=uprice_date]').val()+"' ,"+$('[name=taxper]').val()+","+$('[name=taxamt]').val()+","+$('[name=adsper]').val()+","+$('[name=adsamt]').val()+","+$('[name=freightper]').val()+","+$('[name=freightamt]').val()+", '"+$('[name=ucost_date]').val()+"'"



                    }
                    ,
                    function(data,status){
                        //json_personnel = data
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
									//alert(ret_msg)
									//Do_save_img(data[i][0])

									$('#basic').modal('hide')
					            	//dtbl()
					            	console.log("success here")
					            	Dobatchsave()
									//return false;
			                    }else{
			                    	console.log("fail")
			                    	alert(ret_msg)
			                    }
		                    }
	                    }
                    });	
					return false;
			}



			

			function func_sync(item , tag , t,event){
				//console.log($(event.target).closest("tr").find('.value_input').val())

				var item_id =  $(".c_item_id").val();
				var text_val =  $(event.target).closest("tr").find('.value_input').val();
				var text_val_remarks =  $(event.target).closest("tr").find('.value_remarks').val();

				$.get("/json_func",
                    {
                       qdata : "SIS_itemtags_save 'Update', '{{.Conf.username}}', {{.Conf.org_id}}, "+item_id+", "+tag+", '"+text_val+"', '"+text_val_remarks+"'"
					}
                    ,
                    function(data,status){
                    	console.log(data)
                        //json_personnel = data
                        if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        if (data[i][1]=="Success"){
									console.log(data[i][0])
									alert(ret_msg)
									
								//return false;
			                    }else{
			                    	alert(ret_msg)
			                    }
		                         
		                    }
	                    }
                    });

			}
			
			function Dobatchsave(){
				$.post("/inventory/location_items/HaddTagHandler",
                    $("#item_tagsdata").serialize()
					,
                    function(data,status){
                    	var errcount = 0 
                    	if( data!=null){
		                    for (var i = 0; i < data.length; i++) {
		                        //alert(data[i][0]);
		                       
		                        ret_msg = data[i][1]
		                        
		                        if (data[i][0]=="HasError"){
									errcount = errcount + 1
								//return false;
			                    }
			                }
						}
						if (errcount>0){
	                    	alert(errcount)
	                    	alert("Opsss something went wrong")
                        }else{
                        	alert("Save Success")
                        	nav_back('/inventory/location_items?rights={{.Rights}}')
                        } 
                        
                    });
				return false;


			}
			
	
	

	/*		
	function repoFormatResult( repo ) {
	    var markup = "<div class='select2-result-repository clearfix'> <div class='select2-result-repository__title'><img src='" + repo.avatar + "' />" + repo.full_name + "</div><div>Uprice: "+ repo.price +"</div><div>Unit Cost:"+ repo.ucost +"</div><div>SKU: "+ repo.sku +"</div><div>Comm per: "+ repo.comm_per +"</div><div>Comm amt: "+ repo.comm_amt +"</div><div>Remarks: "+ repo.remarks +"</div></div>";

	    return markup;
	}
	*/
	function repoFormatResult( repo ) {
		var markup = "<div class='select2-result-repository clearfix'> <div class='select2-result-repository__title'><img src='" + repo.avatar + "' />" + repo.full_name + "</div></div>";

	    return markup;
	}
	function repoFormatSelection( repo ) {
        $("input[name=uprice]").val(repo.price);

        $("input[name=uprice]").val(repo.price);
        $("input[name=ucost]").val(repo.ucost);
        $("input[name=sku]").val(repo.sku);
        $("input[name=commper]").val(repo.comm_per);
        $("input[name=commamt]").val(repo.comm_amt);
        $("[name=remarks]").val(repo.remarks);
        $("[name=taxper]").val(repo.tax_per);
        $("[name=taxamt]").val(repo.tax_amt);
        $("[name=adsper]").val(repo.ads_per);
        $("[name=adsamt]").val(repo.ads_amt);
        $("[name=freightper]").val(repo.freight_per);
        $("[name=freightamt]").val(repo.freight_amt);




        return repo.full_name;
    }
    
    function item_init () {
    		$( "#item" ).select2({
			    placeholder: "Search for Item",
			     minimumInputLength: 2,
			        multiple: false,
			        allowClear: true,
			    ajax: {
			        url: "/inventory/location_items/Ajax_getItem?location="+ $("[name=location]").val() ,
			        dataType: "json",
			        quietMillis: 250,
			        data: function( term, page ) {
			            return {
			                // search term
			                q: term
			            };
			        },
			        results: function( data, page ) {
			                // parse the results into the format expected by Select2.
			                // since we are using custom formatting functions we do not need to alter the remote JSON data
			                return { results: data.items };
			        }
			        
			    }, 
				initSelection: function( element, callback ) {
					// the input tag has a value attribute preloaded that points to a preselected repository's id
					// this function resolves that id attribute to an object that select2 can render
					// using its formatResult renderer - that way the repository name is shown preselected
/*
					Id string `json:"id"`
					Fullname string `json:"full_name"`
					Item_image string `json:"avatar"`
					Price string `json:"price"`
					Ucost string `json:"ucost"`
					Sku string `json:"sku"`
					Comm_per string `json:"comm_per"`
					Comm_amt string `json:"comm_amt"`

	
					
					tconf["item_id"] = 				arr_data[0]
					tconf["item_org"] = 			arr_data[1] 
					tconf["item_item"] = 			arr_data[2]
					tconf["item_name"] = 			arr_data[3]
					tconf["item_location"] = 		arr_data[4]
					tconf["item_remarks"] = 		arr_data[5] 
					tconf["item_image"] = 			arr_data[6]
					tconf["unit_price"] = 			arr_data[7] 
					tconf["unit_cost"] = 			arr_data[8] 
					tconf["sku"] = 					arr_data[9]  
					tconf["comm_per"] =				arr_data[10] 
					tconf["comm_amt"] = 			arr_data[11]
*/

					var data = {'Id':{{.Conf.item_item}},'full_name':'{{.Conf.item_name}}' ,'price':{{.Conf.unit_price}},'ucost':{{.Conf.unit_cost}} ,'sku':'{{.Conf.sku}}' ,'comm_per':{{.Conf.comm_per}} ,'comm_amt':{{.Conf.comm_amt}} ,'remarks':'{{.Conf.item_remarks}}','tax_per':{{.Conf.tax_per}} ,'tax_amt':{{.Conf.tax_amt}} ,'ads_per':{{.Conf.ads_per}} ,'ads_amt':{{.Conf.ads_amt}} ,'freight_per':{{.Conf.freight_per}} ,'freight_amt':{{.Conf.freight_amt}} }
					
					callback( data  );
					
				},

			    
			    formatResult: repoFormatResult,
			    formatSelection: repoFormatSelection,
			    // apply css that makes the dropdown taller
			    dropdownCssClass: "bigdrop",
			    // we do not want to escape markup since we are displaying html in results
			    escapeMarkup: function( m ) {
			        return m;
			    }
			});		
	}
	item_init();	
	$("[name=location]").on("select2-close", function() { 
		item_init();
	});

	 $(function () {
 		 $('[data-toggle="tooltip"]').tooltip()
			})
</script>
	
